.TableAndFilter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border: solid 1px gray;
  margin: 10px;
  border-radius: 10px;
}

th {
  background-color: aliceblue;
  color: black;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

td {
  padding: 5px;
}
